/*****************************通用样式********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666666;
}

img {
    vertical-align: middle;
}


/*******************************通用样式******************************/

/*******************************头部导航******************************/
#nav {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #efefef;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 999;
}

#nav .nav-content {
    width: 1440px;
    height: 56px;
    margin: 0 auto;
}

#nav .nav-content .nav-content-l {
    float: left;
}

#nav .nav-content .nav-content-l img {
    width: 100px;
    height: 56px;
}

#nav .nav-content .nav-content-c {
    width: 700px;
    height: 56px;
    float: left;
    font-size: 0;
}

#nav .nav-content .nav-content-c li {
    display: inline-block;
    height: 56px;
    line-height: 56px;
}

#nav .nav-content .nav-content-c li a {
    display: inline-block;
    padding: 0 15px;
    font-size: 17px;
    vertical-align: middle;
}

#nav .nav-content .nav-content-c ul li a:hover {
    background-color: #cccccc;
}

#nav .nav-content .nav-content-c ul li img {
    width: 23px;
    margin-right: 3px;
}

#nav .nav-content .nav-content-c .search-input {
    width: 255px;
    height: 56px;
    position: relative;
}

#nav .nav-content .nav-content-c .search-input input {
    width: 255px;
    height: 38px;
    border: none;
    background-color: #eeeeee;
    border-radius: 19px;
    padding-left: 10px;
    margin-top: 10px;
    color: #666666;
}

#nav .nav-content .nav-content-c .search-input input:focus {
    outline: none;
}

#nav .nav-content .nav-content-c .search-input .search-icon {
    position: absolute;
    right: 10px;
    top: 17px;
}

/*右边*/
#nav .nav-content .nav-content-r {
    width: 300px;
    height: 56px;
    line-height: 56px;
    float: right;
}

#nav .nav-content .nav-content-r .jsa-btn {
    margin-right: 10px;
}

#nav .nav-content .nav-content-r .head-btn {
    width: 40px;
    border-radius: 50%;
    border: 1px solid #666666;
    margin: 0 10px;
}

#nav .nav-content .nav-content-r .write-btn {
    background-color: #ea6f5a;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
}

#nav .nav-content .nav-content-r .write-btn img {
    margin-left: 8px;
}
/*******************************头部导航******************************/

/*******************************内容导航******************************/
#content {
    width: 1000px;
    height: 2000px;
    margin: 60px auto 10px;
}

#content .content-left {
    width: 688px;
    height: 800px;
    float: left;
}

#content .content-left .content-left-top {
    width: 100%;
    height: 270px;
}

#content .content-left .content-left-top img {
    width: 688px;
    height: 270px;
    border-radius: 10px;
}

#content .content-left .content-left-center {
    width: 100%;
    height: 104px;
    /*background-color: yellow;*/
    margin-top: 20px;
}

#content .content-left .content-left-center > a {
    display: inline-block;
     border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: 0 18px 18px 0;
    padding-right: 15px;
    background-color: #f7f7f7;
}

#content .content-left .content-left-center > a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
    border-radius: 5px 0 0 5px;
}

#content .content-left .content-left-center > a:last-child {
    border: none;
    /*设置透明色*/
    background-color: transparent;
    font-size: 16px;
    color: #787878;
    line-height: 32px;
}

/*列表*/
#content .content-left .content-left-bottom {
    width: 100%;
    height: 500px;
}

#content .content-left .content-left-bottom .cell {
    border-top: 1px solid #f0f0f0;
    height: 125px;
    padding: 10px 0;
}

#content .content-left .content-left-bottom .cell dt {
    width: 20%;
    height: 100px;
    float: right;
}

#content .content-left .content-left-bottom .cell dt img {
    width: 100%;
    border-radius: 5px;
}
#content .content-left .content-left-bottom .cell dd {
    width: 80%;
    float: left;
}
#content .content-left .content-left-bottom .cell dd p {
    font-size: 14px;
    margin: 5px 0;
    color: #666666;
    line-height: 25px;
}

#content .content-left .content-left-bottom .cell dd a {
    margin-right: 10px;
    font-size: 12px;
    color: #b4b4b4;
}
#content .content-left .content-left-bottom .cell dd a img {
    vertical-align: middle;
}

#content .content-left .content-left-bottom .cell span {
    vertical-align: middle;
}

#content .content-right {
    width: 300px;
    height: 800px;
    float: right;
}


#content .content-right .content-right-top {
    width: 100%;
    height: 270px;
}

#content .content-right .content-right-top > a img {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

#content .content-right .content-right-center {
    width: 100%;
    height: 92px;
    margin-top: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    padding: 15px 25px;
}

#content .content-right .content-right-center dl dt {
   float: left;
}

#content .content-right .content-right-center dl dt img {
    width: 60px;
     margin-right: 10px;
}

#content .content-right .content-right-center dd {
    margin-top: 5px;
    float: left;
}

#content .content-right .content-right-center dd p {
    margin-top: 3px;
    font-size: 16px;
}

#content .content-right .content-right-center dd p:last-child{
    color: #b8b8b8;
    font-size: 14px;
    margin-top: 5px;
}

#content .content-right .content-right-bottom {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

#content .content-right .content-right-bottom .main-right-bottom-head {
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

#content .content-right .content-right-bottom .main-right-bottom-head span:first-child {
    float: left;
    color: #b8b8b8;
}

#content .content-right .content-right-bottom .main-right-bottom-head span:last-child {
    float: right;
}

#content .content-right .content-right-bottom .main-right-bottom-head span:last-child a {
    color: #b8b8b8;
}

#content .content-right .content-right-bottom ul li {
    width: 100%;
    height: 80px;
    position: relative;
}

#content .content-right .content-right-bottom ul li img {
    width: 48px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin-right: 10px;
}

#content .content-right .content-right-bottom ul li>a {
    float: left;
}

#content .content-right .content-right-bottom ul li>div {
    float: left;
    width: 220px;
    height: 50px;
}

#content .content-right .content-right-bottom ul li>div p {
    margin: 5px 0;
    font-size: 12px;
    color: #666666;
}

#content .content-right .content-right-bottom ul li>div .fouce {
    position: absolute;
    right: 0;
    top: 15px;
}

#content .content-right .content-right-bottom .get-all {
    display: inline-block;
    width: 300px;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    text-align: center;
    padding: 7px;
}
/*******************************内容导航******************************/