* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*====================头部====================*/
#header {
    /*background-color: red;*/
    height: 33px;
    border-bottom: 1px solid lightgray;
}

.header-c-left {
    float: left;
    height: 33px;
    line-height: 33px;
}

.header-c-left img {
    vertical-align: middle;
}

.header-c-left a,span{
    color: #555;
    font-size: 13px;
    vertical-align: middle;
}

.header-c-right {
    float: right;
    height: 33px;
    line-height: 33px;
}

.header-c-right a {
    color: #555;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bolder;
}

.header-c-right .more {
    display: inline-block;
    width: 86px;
    height: 33px;
    background-color: #398bfb;
    text-decoration: none;
    text-align: center;
    line-height: 33px;
    color: white;
    vertical-align: top;
}

/*====================搜索(自己的实现)====================*/
#search {
    width: 641px;
    margin: 20px auto;
    text-align: center;
}

#search img {
    width: 270px;
    height: 112px;
}

#search form {
    width: 641px;
    background-color: red;
    height: 40px;
}

#search .input-text {
    width: 536px;
    height: 40px;
    float: left;
    padding-left: 10px;
    border: 1px solid #b8b8b8;
}

#search .submit {
    width: 105px;
    height: 40px;
    background-color: #398bfb;
    border: none;
    color: white;
    font-size: 16px;
}

#search .input-text:focus {
    outline: none;
    border-color: red;
}
/*==================好的实现方式=====================*/
#content {
    width: 641px;
    margin: 20px auto;
}

#content .content-logo {
    width: 641px;
    text-align: center;
}

#content .content-logo img {
    width: 270px;
    height: 112px;
}

#content .content-search {
    width: 641px;
    height: 77px;
    padding-top: 10px;
}

#content .content-search form {
    height: 40px;
    width: 641px;
}

#content .content-search form .search-input {
    width: 536px;
    height: 40px;
    border: 1px solid #b8b8b8;
    float: left;
    padding-left: 10px;
}

#content .content-search form .search-input:focus {
    outline: none;
    border-color: #398bfb;
}

#content .content-search form .search-submit {
    width: 105px;
    height: 40px;
    background-color: #398bfb;
    border: none;
    float: left;
    color: #fff;
    font-size: 16px;
}

/*====================新闻====================*/
#list {
    margin: 0 auto;
    width: 893px;
    height: 600px;
    border: 1px solid lavender;
}

#list .list-header {
    width: 893px;
    height: 40px;
    border-bottom: 1px solid lavender;
    line-height: 40px;
}

.list-header .list-header-left {
    float: left;
    font-size: 0; /*特殊用法,去除a标签之间的缝隙*/
}

.list-header .list-header-left  a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px; /*因为前边设置了font-size为0去解决缝隙问题,所以在子标签中需要重新设置一下字体*/
    color: #555555;
    text-decoration: none;
    vertical-align: top;
    padding: 0 10px;
}

.list-header .list-header-left  a  img {
    vertical-align: middle;
    margin-top: -7px;
}

#list .list-header .list-header-left a span {
    vertical-align: middle;
}

#list .list-header .list-header-left a:hover {
    background-color: #ccc;
}

.list-header .list-header-right {
    float: right;
    line-height: 40px;
}

.list-header-right img {
    vertical-align: middle;
    margin-right: 10px;
}

/*==============================================设置新闻内容的左边==============================================*/
.list-body-left {
    width: 575px;
    height: 600px;
    /*background-color: red;*/
    padding: 10px 5px;
    float: left;
}

#list .list-body-left .content-cell1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    /*background-color: blue;*/
}

#list .list-body-left .content-cell1 h3 {
    margin-bottom: 10px;
}

#list .list-body-left p{
    margin: 10px 0;
    color: #666666;
    font-size: 12px;
}

#list .list-body-left .content-cell2 {
    height: 160px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

#list .list-body-left .content-cell2 .cell-img {
    float: left;
    width: 180px;
    height: 120px;
}

#list .list-body-left .content-cell2  .cell-content {
    width: 350px;
    padding: 20px;
    float: left;
}

/*==============================================设置新闻内容的右边==============================================*/
#list .list-body-right{
    width: 315px;
    height: 600px;
    float: right;
}

#list .list-body-right .right-top {
    height: 60px;
    width: 315px;
    padding: 20px;
}

#list .list-body-right .right-top h4{
    float: left;
}

#list .list-body-right .right-top div{
    float: right;
}

#list .list-body-right .right-top div img{
    vertical-align: middle;
}

#list .list-body-right .right-top div span{
    vertical-align: middle;
}

#list .list-body-right .right-body {
    padding: 0 20px;
}

#list .list-body-right .right-body li{
    list-style: none;
    float: left;
    width: 130px;
    height: 40px;
    line-height: 40px;
    color: #666666;
    font-size: 14px;
}


